@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarscrolled {
  @apply backdrop-blur-md bg-opacity-35 bg-white shadow-md;
}

.shapebg {
  background-image: url("../public/images/Vector\ 1.svg");
  background-size: cover;
  background-clip: border-box;
  background-position: top;
}

.container {
  @apply px-5 md:px-10;
}
